<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <title>Users manager</title>
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="libs/vue/vue.js"></script>
    <script type="text/javascript" src="libs/axios/axios.js"></script>
    <script type="text/javascript" src="users.js"></script>
  </head>

  <body>
    <div id="app">
      <ul class="user-list">
        <li v-for="(user, index) in users">
          <div class="user-row">
            <div class="user-name"><b>{{ user.name }}</b></div>
            <div class="user-city"><i>{{ user.city }}</i></div>
            <div class="user-action">
              <button @click="deleteUser(index)">Delete</button>
              <button @click="editUser(index)">Edit</button>
            </div>
          </div>
        </li>
      </ul>

      <div class="edit-user" v-if="editingIndex >= 0">
        <form @submit.prevent="updateUser">
          <input type="text" placeholder="Name" v-model="editingUser.name" />
          <input type="text" placeholder="City" v-model="editingUser.city" />
          <button type="submit">Update</button>
        </form>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
